html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  display: flex;
  font-family: "Lato", sans-serif;
   background-image: url("./immages/bacground.png");
  /* background-position: center;
  background-size: contain;
  background-repeat: round;
  height: 450px; */
}